:host {
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 54px;
}

.menu {
  align-items: center;
  border-right: 1px solid #ccc;
  display: flex;
  height: 54px;
  justify-content: center;
  margin-right: 16px;
  width: 54px;
}

.logo_text {
  font-size: 24px;
  text-transform: uppercase;

  .logo_text_title {
    font-weight: bold;
    margin-right: 5px;
  }
}
