:host {
  display: flex;
  padding: 16px;
}

.spinner-container {
  width: max-content;
  height: max-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: inline-flex;
  align-items: center;

  div {
    margin-right: 5px;
  }

}

textarea {
  width: 600px;
  height: 200px;
}
