<div class="container" *ngIf="{initialized: (postgresService.initialized$ | async) || false, running: (postgresService.running$ | async) || false, pending: (postgresService.pending$ | async) || false} as status">
  <h1 class="title">Environment: {{ env }}</h1>
  <h1 class="title">PSQL Version: {{ postgresVersion }}</h1>
  <h1 class="title">Running: {{ status.running }}</h1>

  <div fxLayoutGap="16px">
  </div>

  <app-properties-upload></app-properties-upload>
  <app-taxlots-upload></app-taxlots-upload>
</div>
