<div class="container" *ngIf="{initialized: (postgresService.initialized$ | async) || false, running: (postgresService.running$ | async) || false, pending: (postgresService.pending$ | async) || false} as status">
  <div fxLayoutGap="16px">
  </div>

    <div>
      <h1>Upload Data</h1>
      <app-properties-upload></app-properties-upload>
      <app-taxlots-upload></app-taxlots-upload>
    </div>

    <h4 class="title">PSQL Version: {{ postgresVersion }}</h4>
    <h4 class="title">Database Running: {{ status.running }}</h4>
  </div>
</div>
